.main{
    
    margin: 15px auto;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 80%;
    text-align: center;
}
.inside{
    display: flex;
}
.title{
    display: block;
    margin: auto;
}
.h4{
    text-align: center;
}